@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-p1: #ffbb00;
  --color-p2: #e4a30b;
  --color-p3: #a66f00;
  --color-p4: #664400;
  --color-p5: #332200;
  --color-w: #ffffff;
  --color-c1: #f7f7f7;
  --color-c2: #ededed;
  --color-c3: #dedede;
  --color-c4: #cccccc;
  --color-c5: #b2b2b2;
  --color-c6: #9c9c9c;
  --color-c7: #717171;
  --color-c8: #595959;
  --color-c9: #404040;
  --color-c10: #2e2e2e;
  --color-c11: #111111;
  --color-c12: #000000;
}

* {
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  line-height: 3.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--color-c5);
}

body {
  font-family: "Urbanist";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  background-color: var(--color-c12);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
}

.logo {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

.menu {
  color: #ffffff;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 20px 0px;
}

.detalhe {
  color: var(--color-p1);
}

.hero {
  background: var(--color-c12);
  box-shadow: inset 0px -100px #fff;
}

.hero-content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  justify-content: center;
  padding: 0px 5%;
}

.hero-text {
  align-content: center;
  margin-bottom: 100px;
  color: var(--color-w);
  gap: 20px;
}

.hero-text p,
h1 {
  margin: 20px 0px;
}

.hero-img img {
  display: block;
  width: 500px;
  object-fit: cover;
  height: 600px;
}

.btn1 {
  background: linear-gradient(var(--color-p1), var(--color-p3));
  padding: 16px 32px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-c12);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
}

.btn2 {
  padding: 16px 0px;
  text-decoration: underline !important;
  display: inline-block;
  text-decoration: none;
  color: var(--color-p1);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  position: relative;
}

.content {
  margin: auto;
  max-width: 1600px;
  justify-content: center;
}

.content h1 {
  width: 1200px;
  margin: 20px auto;
}

.lista-bicicletas {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin: auto;
  list-style: none;
  padding: 0;
}

.lista-bicicletas h2 {
  position: relative;
  padding-left: 20px;
  width: 100%;
  color: var(--color-c10);
  margin: 10px;
}

.lista-bicicletas h2::before {
  content: "";
  width: 10px;
  height: 10px;
  top: 10px;
  left: 0px;
  background-color: var(--color-p1);
  position: absolute;
  align-self: center;
  transition: all 0.3s ease;
}

.lista-bicicletas h2:hover::before {
  width: 20px;
}

.price-home {
  margin-left: 20px;
}

.tecnologia {
  background-color: var(--color-c12);
  margin: auto;
  margin: 200px 0px;
}

.tecnologia-content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-text {
  color: var(--color-w);
  align-content: center;
}

.img-maior {
  margin: -100px 0px -100px 0px;
}

.tecnologia-categorias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.tecnologia-categorias h2 {
  margin-top: 10px;
}

.tecnologia-categorias p {
  font-size: 0.85rem;
  margin-top: 10px;
}

.parceiros {
  margin: 50px 0 100px 0;
}

.parceiros-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: auto;
}

.parceiros-logo img {
  padding: 20px 0;
}

.depoimentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-p2);
}

.depoimentos-text {
  align-self: end;
  padding: 60px;
  max-width: 800px;
}
.depoimentos-text h1 {
  font-size: 3rem !important;
  line-height: 1.1 !important;
}
.depoimentos-text p {
  color: var(--color-c10);
  font-weight: 600;
}

.depoimentos-text h1::before {
  content: url("../img/dec/top-right.svg");
  padding: 20px;
}

.depoimentos-text h1::after {
  content: url("../img/dec/top-right.svg");
  padding: 20px;
}

.seguros {
  background: var(--color-c11);
  padding-top: 50px;
  padding-bottom: 100px;
}

.seguros-categorias {
  padding: 50px;
  background-color: var(--color-c10);
}

.seguros-tipos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguros .content {
  width: 1200px;
}
.seguros .content h1 {
  color: var(--color-w);
  margin: 0 auto;
  padding: 50px;
}

.seguros-titulo {
  color: var(--color-c1);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.seguros-nome.ouro {
  color: var(--color-p1);
}

.seguros-price p {
  font-size: 0.75rem;
  text-align: end;
}

.seguros-nome {
  color: var(--color-c8);
  font-size: 3rem;
}

.seguros-lista li {
  color: var(--color-c1);
  margin-bottom: 20px;
}

.seguros-lista li::before {
  content: url("../img/icones/lista.svg");
  padding-right: 10px;
}

footer {
  background-color: var(--color-c12);
}

.contato {
  max-width: 1200px;
  justify-content: center;
  margin: auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.contato h3 {
  color: var(--color-c1);
  margin-bottom: 20px;
}

.contato li,
ul,
a {
  color: var(--color-c5);
  list-style: none;
  padding: 0;
  margin: 5px 0;
  text-decoration: none;
}

.contato hr {
  color: var(--color-c11);
  width: 100%;
  justify-self: left;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.direitos {
  background-color: var(--color-c12);
  display: flex;
}

.direitos p {
  justify-content: center;
  margin: auto;
  color: var(--color-c1);
  padding: 20px;
}
